node_modules
**/node_modules
**/dist
**/build
**/src/generated
.git
.github
docs
new-design
**/.env
**/.env.*
!**/.env.example
**/*.tsbuildinfo
**/test-results
**/playwright-report
.cache
assignment.pdf
